<!DOCTYPE html>

{% load staticfiles %} <!-- Loads static content -->

<html>

	<head>
		<title>Rango</title>
	</head>

	<body>
		<!-- 
			# CSS
			<link rel="stylesheet" href="{% static "css/base.css" %}" /> 
			# JavaScript
			<script src="{% static "js/jquery.js" %}"></script>
		--> 
		<h1>Rango says ...</h1>
		<div>
			Hey there partner! <br />
			<strong>{{ boldmessage }}</strong><br />
		</div>

		<h4>MOST LIKED CATEGORIES:</h4>
		<div>
			{% if categories %}
			<ul>
				{% for category in categories %}
					<li>
						<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<strong>There are no categories present.</strong>
			{% endif %}
		</div>

		<h4>MOST VIEWED PAGES:</h4>
		<div>
			{% if pages %}
			<ul>
				{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>No viewed pages at the moment.</strong>
			{% endif %}

		</div>

		<div><a href="/rango/add_category/">Add a New Category</a></div>
		<div>
			<a href="/rango/about/">About</a><br />

			<img src = "{% static 'images/rango.jpg' %}"
			     alt = "Picture of rango" />
		</div>


		<!-- <div>
			<img src = "{{ MEDIA_URL }}gifs/download_gif.gif"
			     alt = "Gif of download bar" />
		</div> -->

	</body>

</html>